@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?4zy1sv");
  src: url("fonts/icomoon.eot?4zy1sv#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?4zy1sv") format("truetype"), url("fonts/icomoon.woff?4zy1sv") format("woff"), url("fonts/icomoon.svg?4zy1sv#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-facebook2:before {
  content: "\ea91";
}

.icon-linkedin:before {
  content: "\eac9";
}

.icon-linkedin2:before {
  content: "\eaca";
}

*,
:before,
:after {
  box-sizing: border-box;
  line-height: 100%;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="color"],
input[type="email"],
input[type="tel"],
input[type="url"] {
  -webkit-appearance: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-size: 100%;
  font-weight: normal;
}

body {
  background-color: #ffffff;
  color: #333333;
  font-size: 18px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

header {
  color: #ffffff;
}

footer > div nav > * a {
  color: #336699;
}

main p {
  color: #666666;
}

footer > div a[href*="tel"] {
  color: #333333;
}

footer > div .social-links a {
  color: #999999;
}

footer > div .address a {
  color: inherit;
}

.body > main {
  background-color: #ffffff;
}

header {
  background-color: #333333;
}

html,
body {
  background-color: #eeeeee;
}

header,
footer {
  padding: 24px;
}

main {
  padding-top: 24px;
  padding-bottom: 24px;
}

main > *:not(img) {
  padding-left: 24px;
  padding-right: 24px;
}

footer > div nav > * {
  margin-top: 12px;
}

footer > div .social-links a:not(:last-child) {
  margin-right: 18px;
}

footer > div .address {
  margin-top: 18px;
}

footer > div .social-links {
  margin-bottom: 18px;
}

main > img,
footer > div nav {
  margin-top: 24px;
  margin-bottom: 24px;
}

.body {
  text-align: center;
}

footer > div .social-links a,
footer > div a[href*="tel"],
footer > div .address a {
  text-decoration: none;
}

html,
body {
  font-weight: 300;
}

footer > div .address span {
  font-weight: 500;
}

main p {
  line-height: 125%;
}

footer > div .address {
  line-height: 150%;
}

main > :not(img):after,
footer > div:after,
main > :not(img):before,
footer > div:before {
  content: ' ';
  display: table;
}

main > :not(img):after,
footer > div:after {
  clear: both;
}

main > *:not(img),
footer > div {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

main > *:not(img),
footer > div {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.body {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.body > main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

html,
body {
  min-height: 100vh;
}

.body {
  min-height: 99vh;
}

footer {
  font-size: 14px;
}

footer > div .social-links a {
  font-size: 30px;
}

footer > div .social-links a[class*="facebook"]:hover {
  color: #3b5998;
}

footer > div .social-links a[class*="linkedin"]:hover {
  color: #0077B5;
}

footer > div a[href*="tel"] {
  font-size: 30px;
  letter-spacing: -1px;
}

@media (min-width: 1025px) {
  footer > div nav > *:first-child {
    margin-top: 24px;
  }

  footer > div .social-links {
    margin-bottom: 0;
  }

  footer > div nav {
    margin-top: 0;
    margin-bottom: 0;
  }

  footer > div .address {
    text-align: left;
  }

  footer > div .social-links,
  footer > div nav,
  footer > div .copyright {
    text-align: right;
  }

  footer > div nav {
    width: 30%;
  }

  footer > div .social-links {
    width: 50%;
  }

  footer > div .address {
    width: 70%;
  }

  footer > div .copyright {
    width: 100%;
  }

  footer > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }

  footer > div {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  footer > div .social-links {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  footer > div a[href*="tel"] {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  footer > div .social-links {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }

  footer > div .address {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 3;
    -moz-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }

  footer > div nav {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 4;
    -moz-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }

  footer > div .copyright {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 5;
    -moz-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }
}